{{template "header"}}
  <div class="container" style="margin-top: 4%; border-radius: 10px; border: 1px solid; background-color: #1B1C2C;">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div>
          <img src="assets/img/Logo.png" style="width: 150px; height: 150px; border-radius: 100px; display: block; margin-left: auto; margin-right: auto; margin-top: 20px">
          <h5 style="text-align:center; color: #fff; margin-top: 20px">Суперфей228</h5>
          <p style="color: #fff; text-align: center;">4.5★</p>
          <hr style="color: #fff">
          <div class="row">
            <div class="col-12">
              <p style="color: #fff">Оффлайн ⚪</p>
              <p style="color: #fff">Выполненно заказов:  20345</p>
            </div>
            <div class="col-5">  
              <p style="color: #fff">Ответственность</p>
            </div>
            <div class="col-5">
              <div class="progress" style="margin-top: 5px">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%; background-color: #E746E0 !important;" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-2">  
              <p style="color: #fff">100%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5">  
              <p style="color: #fff">Сделано в срок</p>
            </div>
            <div class="col-5">
              <div class="progress" style="margin-top: 5px; background-color: #28293E;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%; background-color: #E746E0 !important;" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-2">  
              <p style="color: #fff">80%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5">  
              <p style="color: #fff">Скорость ответов</p>
            </div>
            <div class="col-5">
              <div class="progress" style="margin-top: 5px">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%; background-color: #E746E0 !important;" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-2">  
              <p style="color: #fff">100%</p>
            </div>
            <div class="col-12">  
              <p style="color: #fff">На сайте с 22.10.2002</p>
              <button style="color: #fff; background-color: #E746E0; height: 45px; width: 100%; border-radius: 10px; margin-bottom: 20px">Написать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <h4 style="color: #fff; margin-top: 20px;">О себе</h4>
        <p style="color: #fff; margin-top: 20px; text-align: justify;">
          Всем привет, я еблан, но хочу заработать денег купи заказ у меня пж или я тебя такую суку по айпи вычислю 
          и приеду давать пизды! Приложение для ставок делаю и мне похуй!
          ВНИМАНИЕ! Я никак не связан с сайтами страховых компаний, телефоний, букмекерских контор, криптовалютных проектов и т.п.
          Всё общение, работа и оплата происходит только через платформу МОЙ ХУЙ БЛЯТЬ.
          Будьте бдительны и остерегайтесь мошенников!
        </p>
        <div class="row" style="background-color: #1B1C2C; border-radius: 10px;">
          <div class="col-lg-3 col-12" style="height: 80px; display: flex; justify-content: center; align-items: center;">
            <button type="submit" style="border-radius: 10px; border: 1px solid #E746E0; background-color: #1B1C2C;width: 100%; height: 40px; color: #fff;" data-bs-toggle="modal" data-bs-target="#portfolio">Портфолио</button>
          </div>
          <div class="col-lg-5 col-12" style="height: 80px; display: flex; justify-content: center; align-items: center; margin-left: auto;">
            <button type="submit" style="border-radius: 10px; border: 1px solid #E746E0; background-color: #1B1C2C;width: 100%; height: 40px; color: #fff;" data-bs-toggle="modal" data-bs-target="#offers">Список предложений</button>
          </div>
          <div class="col-lg-3 col-12" style="height: 80px; display: flex; justify-content: center; align-items: center; margin-left: auto;">
            <button type="submit" style="border-radius: 10px; border: 1px solid #E746E0; background-color: #1B1C2C;width: 100%; height: 40px; color: #fff;" data-bs-toggle="modal" data-bs-target="#orders">Активные заказы</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="portfolio" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 style="color: #fff">Портфолио</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> -->
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 5px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h5 style="color: #fff; margin-top: 10px">Помог с 1с</h5>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 5px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h5 style="color: #fff; margin-top: 10px">Помог с 1с</h5>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 5px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h5 style="color: #fff; margin-top: 10px">Помог с 1с</h5>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 5px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h5 style="color: #fff; margin-top: 10px">Помог с 1с</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="color: #fff; border: 1px solid #E746E0;background-color: #1B1C2C; height: 35px; width: 25%; border-radius: 10px;" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="offers" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 style="color: #fff">Предложения</h5>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 10px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h4 style="color: #fff; margin-top: 10px">Помогу с курсовой работой по 1с</h4>
                <p style="color: #fff">Цена: 5000р</p>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 10px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h4 style="color: #fff; margin-top: 10px">Помогу с курсовой работой по 1с</h4>
                <p style="color: #fff">Цена: 5000р</p>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 10px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h4 style="color: #fff; margin-top: 10px">Помогу с курсовой работой по 1с</h4>
                <p style="color: #fff">Цена: 5000р</p>>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <img src="assets/img/off.jpeg" style="width: 100%; height: 150px; border-radius: 10px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px">
                <h4 style="color: #fff; margin-top: 10px">Помогу с курсовой работой по 1с</h4>
                <p style="color: #fff">Цена: 5000р</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="color: #fff; border: 1px solid #E746E0;background-color: #1B1C2C; height: 35px; width: 25%; border-radius: 10px;" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="orders" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 style="color: #fff">Активные заказы</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> -->
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <h4 style="color: #fff; margin-top: 10px">Помочь с курсовой работой по 1с</h4>
                <p style="color: #fff">Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание ... <a href="">Читать далее</a></p>
                <p style="color: #fff">Желаемая цена до: 5000р</p>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <h4 style="color: #fff; margin-top: 10px">Помочь с курсовой работой по 1с</h4>
                <p style="color: #fff">Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание ... <a href="">Читать далее</a></p>
                <p style="color: #fff">Желаемая цена до: 5000р</p>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <h4 style="color: #fff; margin-top: 10px">Помочь с курсовой работой по 1с</h4>
                <p style="color: #fff">Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание ... <a href="">Читать далее</a></p>
                <p style="color: #fff">Желаемая цена до: 5000р</p>
              </div>
              <div class="col-lg-5" style="text-align: center; background-color: #1B1C2C; border-radius: 10px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <h4 style="color: #fff; margin-top: 10px">Помочь с курсовой работой по 1с</h4>
                <p style="color: #fff">Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание Это краткое описание ... <a href="">Читать далее</a></p>
                <p style="color: #fff">Желаемая цена до: 5000р</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="color: #fff; border: 1px solid #E746E0;background-color: #1B1C2C; height: 35px; width: 25%; border-radius: 10px;" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  {{template "footer"}}